@import "/src/assets/styles/abstracts/variables";

.selection-btn-onboarding {
	position: relative;

	label {
		padding: 0.7rem 1rem;
		@extend .primary-border;
		border-radius: 12px;
		display: inline-block;
		cursor: pointer;
		font-size: 14px;
	}

	input[type="radio"] {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		appearance: none;
		cursor: pointer;
		opacity: 0;
	}

	input[type="radio"]:checked+label {
		border: 1px solid $color-primary;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
		font-weight: 700;
	}
}

.radio-btn-onboarding {
	position: relative;

	label {
		padding: 0.7rem 1rem;
		@extend .primary-border;
		border-radius: 12px;
		display: inline-block;
		cursor: pointer;
		font-size: 14px;
	}

	input[type="radio"] {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		appearance: none;
		cursor: pointer;
		opacity: 0;
	}

	input[type="radio"]:checked+label {
		background-color: $color-primary;
		border: 1px solid $color-primary;
		border: 1px solid $color-primary;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
		color: #fff;
		font-weight: 700;
	}

}