.survey-container {


    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    .survey-logo {
        width: 20px;
        height: 20px;

        .logo {
            border-radius: 50%;
        }
    }

    .amount-heading {
        background: #2C2C2C;
        border: 1px solid rgba(17, 13, 63, .08);
        border-radius: 16px;
        box-shadow: 0 14px 50px -20px rgba(8, 17, 49, .07);

    }

}